/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.myyellow {
    background-color: #FEBD69;
}
.myblue {
    background-color: #232F3E;
}
.myblack{
    background-color: #131A22;
}
.mygray{
    background-color: #37475A;
}
body{
    background-color: rgb(223, 223, 223);
}
/* .relative:hover~.drop{
    left: 0;
} */
.relative:hover .drop {
    right: 28px;
    
    
  }